.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.gear-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.cart-container {
  background-image: linear-gradient(
    to right bottom,
    #2c77e9,
    #00a8ee,
    #00cbd4,
    #a3e4c5,
    #f2fbdd
  );
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .gear-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and(max-width:767px) {
  .gear-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
